
#monai
spacy
nltk
sentence_transformers
torch
torchvision
beautifulsoup4 
fastcache==1.1.0
fastcore==1.3.19
fastprogress==1.0.0
fastrelease==0.1.11
fastai

pydicom==2.1.2

seaborn 

pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
pylibjpeg-rle

