torchvision
#fastcache==1.1.0
#fastcore==1.3.19
#fastprogress==1.0.0
#fastrelease==0.1.11
fastcache
fastcore
fastprogress
fastrelease
fastai
Flask
streamlit
pydicom==2.1.2
seaborn 
pylibjpeg
pylibjpeg-libjpeg
pylibjpeg-openjpeg
pylibjpeg-rle
azure-storage-blob
matplotlib==3.7.1
nltk==3.8.1
numpy==1.23.5
pandas==1.5.3
scikit_learn==1.2.2
scripts==2.0
sentence_transformers==2.2.2
shap==0.41.0
spacy==2.3.9
stanza==1.4.2
texthero==1.1.0
torch
torchtext
tqdm==4.65.0
transformers==4.26.1
wordcloud==1.8.2.2
monai == 0.9.0
seaborn == 0.12.2
huggingface-hub==0.10.1